<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
<div class="wrapper wrapper-content ">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <form class="form-horizontal m-t" id="signupForm">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">名称：</label>
                            <div class="col-sm-8">
                                <input id="name" name="name" class="form-control" required
                                       type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">币种：</label>
                            <div class="col-sm-8">
                                <select id="coinTypeId" name="coinTypeId" class="form-control">
                                </select>
                                <input id="coinTypeIdTemp" name="coinTypeIdTemp"
                                       class="form-control"
                                       type="hidden">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">固本金额度：</label>
                            <div class="col-sm-8">
                                <input id="principalNum" name="principalNum" class="form-control" required
                                       type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">收益倍率：</label>
                            <div class="col-sm-8">
                                <input id="rewardPercent" name="rewardPercent" class="form-control" required
                                       type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">合约期限（天）：</label>
                            <div class="col-sm-8">
                                <input id="contractTerm" name="contractTerm" class="form-control" required
                                       type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">收取手续费期限（小时）：</label>
                            <div class="col-sm-8">
                                <input id="chargeTerm" name="chargeTerm" class="form-control" required
                                       type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">手续费比例：</label>
                            <div class="col-sm-8">
                                <input id="chargePercent" name="chargePercent" class="form-control" required
                                       type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">是否删除：</label>
                            <div class="col-sm-8">
                                <select id="delFlag" name="delFlag" lay-verify="" class="form-control">
                                    <option selected value="0">否</option>
                                    <option value="1">是</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">说明：</label>
                            <div class="col-sm-8">
                                <input id="remark" name="remark" class="form-control"
                                       type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-8 col-sm-offset-3">
                                <button type="submit" class="btn btn-primary">提交</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:include="include::footer"></div>
<script type="text/javascript" src="/js/appjs/get/swPrincipal/add.js">
</script>
</body>
</html>
