<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="col-sm-12">
        <div class="ibox">
            <div class="ibox-body">
                <div class="fixed-table-toolbar">


                    <div class="pull-right search col-md-2 ">
                        <input id="ipAddr" name="ipAddr" type="text" class="form-control"
                               placeholder="IP地址">
                    </div>
                    <div class="pull-right search col-md-2 ">
                        <input id="param" name="param" type="text" class="form-control"
                               placeholder="请求参数">
                    </div>
                    <div class="pull-right search col-md-2 ">
                        <input id="method" name="method" type="text" class="form-control"
                               placeholder="请求地址">
                    </div>

                    <div class="pull-right search col-md-2">
                        <select id="operation" name="operation" lay-verify="" class="form-control" placeholder="操作类型">
                            <option value="" selected>操作类型</option>
                            <option value="normal">normal</option>
                            <option value="error">error</option>
                        </select>
                    </div>
                    <div class="pull-right search col-md-2 ">
                        <input id="username" name="username" type="text" class="form-control"
                               placeholder="用户">
                    </div>
                    <div class="pull-right search col-md-2">
                        <select id="app" name="app" lay-verify="" class="form-control" placeholder="应用">
                            <option value="" selected>应用</option>
                            <option value="settlement">settlement</option>
                            <option value="trading">trading</option>
                        </select>
                    </div>

                </div>
                <div class="fixed-table-toolbar">
                    <div class="pull-right search col-md-2" >
                        <input type="text" class="laydate-icon layer-date form-control" id="createEndDate"
                               placeholder="创建结束时间"

                               style="background-color: #fff;" readonly="readonly"/>
                    </div>
                    <div class="pull-right search col-md-2" >
                        <input type="text" class="laydate-icon layer-date form-control" id="createStartDate"
                               placeholder="创建开始时间"
                               style="background-color: #fff;" readonly="readonly"/>
                    </div>



                </div>
                <div class="fixed-table-toolbar">
                    <div class="columns pull-right" role="group" style="margin-left: 15px ;clear: both">
                        <button class="btn btn-success" onclick="reLoad()">
                            <i class="fa fa-search" aria-hidden="true"></i>查询
                        </button>
                    </div>
                    <div class="columns pull-right" style="margin-left: 15px">
                        <button s type="button" class="btn  btn-danger"
                                onclick="clearForm()">
                            <i class="fa fa-trash" aria-hidden="true"></i>清空
                        </button>
                    </div>


                </div>
                <table id="exampleTable" data-mobile-responsive="true" class="logT">
                </table>
            </div>
        </div>
    </div>
</div>
<div th:include="include :: footer"></div>
<script type="text/javascript" src="/js/appjs/common/log/log.js"></script>
</body>
</html>