<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
<div class="wrapper wrapper-content ">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <form class="form-horizontal m-t" id="signupForm">
                        <input id="tid" name="tid" th:value="${securityManager.tid}"
                               type="hidden">
                                                                                                                                        <div class="form-group">
                                    <label class="col-sm-3 control-label">安全密匙：</label>
                                    <div class="col-sm-8">
                                        <input id="securityKey" name="securityKey"
                                               th:value="${securityManager.securityKey}" class="form-control"
                                               type="text">
                                    </div>
                                </div>
                                                                                                                <div class="form-group">
                                    <label class="col-sm-3 control-label">创建时间：</label>
                                    <div class="col-sm-8">
                                        <input id="createDate" name="createDate"
                                               th:value="${securityManager.createDate}" class="form-control"
                                               type="text">
                                    </div>
                                </div>
                                                                                                                <div class="form-group">
                                    <label class="col-sm-3 control-label">删除标记：</label>
                                    <div class="col-sm-8">
                                        <input id="delFlag" name="delFlag"
                                               th:value="${securityManager.delFlag}" class="form-control"
                                               type="text">
                                    </div>
                                </div>
                                                                            <div class="form-group">
                            <div class="col-sm-8 col-sm-offset-3">
                                <button type="submit" class="btn btn-primary">提交</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:include="include::footer"></div>
<script type="text/javascript" src="/js/appjs/base/securityManager/edit.js">
</script>
</body>
</html>
