<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.get.dao.SwPartnerDao">

    <sql id="baseColumn">
        `tid`,`name`,`coin_type_id`,`partner_num`,`percent`,`remark`,`ex1`,`ex2`,`ex3`,`create_date`,`update_date`,`del_flag`
    </sql>

    <sql id="baseColumnAlias">
        partner.`tid`,partner.`name`,partner.`coin_type_id`,partner.`partner_num`,partner.`percent`,partner.`remark`,partner.`ex1`,partner.`ex2`,partner.`ex3`,partner.`create_date`,partner.`update_date`,partner.`del_flag`
    </sql>

    <select id="get" resultType="com.get.domain.SwPartnerDO">
        select `tid`,`name`,`coin_type_id`,`partner_num`,`percent`,`remark`,`ex1`,`ex2`,`ex3`,`create_date`,`update_date`,`del_flag`        from t_sw_partner where tid = #{value}
    </select>

    <select id="list" resultType="com.get.domain.SwPartnerDO">
        select
        <include refid="baseColumnAlias"/>, coin.coin_name as coinName
        from t_sw_partner partner
        left join t_sw_coin_type coin on coin.tid = partner.coin_type_id
        <where>
            <if test="tid != null and tid != ''">and partner.tid =
                #{tid}
            </if>
            <if test="name != null and name != ''">and partner.name =
                #{name}
            </if>
            <if test="coinTypeId != null and coinTypeId != ''">and partner.coin_type_id =
                #{coinTypeId}
            </if>
            <if test="partnerNum != null and partnerNum != ''">and partner.partner_num =
                #{partnerNum}
            </if>
            <if test="percent != null and percent != ''">and partner.percent =
                #{percent}
            </if>
            <if test="remark != null and remark != ''">and partner.remark =
                #{remark}
            </if>
            <if test="ex1 != null and ex1 != ''">and partner.ex1 =
                #{ex1}
            </if>
            <if test="ex2 != null and ex2 != ''">and partner.ex2 =
                #{ex2}
            </if>
            <if test="ex3 != null and ex3 != ''">and partner.ex3 =
                #{ex3}
            </if>
            <if test="createDate != null and createDate != ''">and partner.create_date =
                #{createDate}
            </if>
            <if test="updateDate != null and updateDate != ''">and partner.update_date =
                #{updateDate}
            </if>
            <if test="delFlag != null and delFlag != ''">and partner.del_flag =
                #{delFlag}
            </if>
        </where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
            <otherwise>
                order by partner.create_date desc
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>

    <select id="count" resultType="int">
        select count(*) from t_sw_partner
        <where>
            <if test="tid != null and tid != ''">and tid =
                #{tid}
            </if>
            <if test="name != null and name != ''">and name =
                #{name}
            </if>
            <if test="coinTypeId != null and coinTypeId != ''">and coin_type_id =
                #{coinTypeId}
            </if>
            <if test="partnerNum != null and partnerNum != ''">and partner_num =
                #{partnerNum}
            </if>
            <if test="percent != null and percent != ''">and percent =
                #{percent}
            </if>
            <if test="remark != null and remark != ''">and remark =
                #{remark}
            </if>
            <if test="ex1 != null and ex1 != ''">and ex1 =
                #{ex1}
            </if>
            <if test="ex2 != null and ex2 != ''">and ex2 =
                #{ex2}
            </if>
            <if test="ex3 != null and ex3 != ''">and ex3 =
                #{ex3}
            </if>
            <if test="createDate != null and createDate != ''">and create_date =
                #{createDate}
            </if>
            <if test="updateDate != null and updateDate != ''">and update_date =
                #{updateDate}
            </if>
            <if test="delFlag != null and delFlag != ''">and del_flag =
                #{delFlag}
            </if>
        </where>
    </select>

    <insert id="save" parameterType="com.get.domain.SwPartnerDO">
        insert into t_sw_partner
        (
                                    `tid`, 
                                                `name`, 
                                                `coin_type_id`, 
                                                `partner_num`, 
                                                `percent`, 
                                                `remark`, 
                                                `ex1`, 
                                                `ex2`, 
                                                `ex3`, 
                                                `create_date`, 
                                                `update_date`, 
                                                `del_flag`
                            )
        values
        (
                                    #{tid}, 
                                                #{name}, 
                                                #{coinTypeId}, 
                                                #{partnerNum}, 
                                                #{percent}, 
                                                #{remark}, 
                                                #{ex1}, 
                                                #{ex2}, 
                                                #{ex3}, 
                                                #{createDate}, 
                                                #{updateDate}, 
                                                #{delFlag}
                            )
    </insert>

    <update id="update" parameterType="com.get.domain.SwPartnerDO">
        update t_sw_partner
        <set>
            <if test="name != null">`name` = #{name
                        },
            </if>
            <if test="coinTypeId != null">`coin_type_id` = #{coinTypeId
                        },
            </if>
            <if test="partnerNum != null">`partner_num` = #{partnerNum
                        },
            </if>
            <if test="percent != null">`percent` = #{percent
                        },
            </if>
            <if test="remark != null">`remark` = #{remark
                        },
            </if>
            <if test="ex1 != null">`ex1` = #{ex1
                        },
            </if>
            <if test="ex2 != null">`ex2` = #{ex2
                        },
            </if>
            <if test="ex3 != null">`ex3` = #{ex3
                        },
            </if>
            <if test="createDate != null">`create_date` = #{createDate
                        },
            </if>
            <if test="updateDate != null">`update_date` = #{updateDate
                        },
            </if>
            <if test="delFlag != null">`del_flag` = #{delFlag
                        }
            </if>
        </set>
        where tid = #{tid}
    </update>

    <delete id="remove">
        delete from t_sw_partner where tid = #{value}
    </delete>

    <delete id="batchRemove">
        delete from t_sw_partner where tid in
        <foreach item="tid" collection="array" open="(" separator="," close=")">
            #{tid}
        </foreach>
    </delete>

</mapper>