<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.get.dao.SwPeriodDao">

    <sql id="baseColumn">
        `tid`,`name`,`coin_type_id`,`period_term`,`t_percent`,`b_percent`,`accelerate_percent`,`ex1`,`ex2`,`ex3`,`create_date`,`update_date`,`del_flag`,`remark`
    </sql>

    <sql id="baseColumnAlias">
        period.`tid`,period.`name`,period.`coin_type_id`,period.`period_term`,period.`t_percent`,period.`b_percent`,period.`accelerate_percent`,period.`ex1`,period.`ex2`,period.`ex3`,period.`create_date`,period.`update_date`,period.`del_flag`,period.`remark`
    </sql>

    <select id="get" resultType="com.get.domain.SwPeriodDO">
        select <include refid="baseColumn"/>
        from t_sw_period where tid = #{value}
    </select>

    <select id="list" resultType="com.get.domain.SwPeriodDO">
        select
        <include refid="baseColumnAlias"/>, coin.coin_name as coinName
        from t_sw_period period
        left join t_sw_coin_type coin on coin.tid = period.coin_type_id
        <where>
            <if test="tid != null and tid != ''">and period.tid =
                #{tid}
            </if>
            <if test="name != null and name != ''">and period.name =
                #{name}
            </if>
            <if test="coinTypeId != null and coinTypeId != ''">and period.coin_type_id =
                #{coinTypeId}
            </if>
            <if test="periodTerm != null and periodTerm != ''">and period.period_term =
                #{periodTerm}
            </if>
            <if test="tPercent != null and tPercent != ''">and period.t_percent =
                #{tPercent}
            </if>
            <if test="bPercent != null and bPercent != ''">and period.b_percent =
                #{bPercent}
            </if>
            <if test="acceleratePercent != null and acceleratePercent != ''">and period.accelerate_percent =
                #{acceleratePercent}
            </if>
            <if test="ex1 != null and ex1 != ''">and period.ex1 =
                #{ex1}
            </if>
            <if test="ex2 != null and ex2 != ''">and period.ex2 =
                #{ex2}
            </if>
            <if test="ex3 != null and ex3 != ''">and period.ex3 =
                #{ex3}
            </if>
            <if test="createDate != null and createDate != ''">and period.create_date =
                #{createDate}
            </if>
            <if test="updateDate != null and updateDate != ''">and period.update_date =
                #{updateDate}
            </if>
            <if test="delFlag != null and delFlag != ''">and period.del_flag =
                #{delFlag}
            </if>
            <if test="remark != null and remark != ''">and period.remark =
                #{remark}
            </if>
        </where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
            <otherwise>
                order by period.period_term asc
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>

    <select id="count" resultType="int">
        select count(*) from t_sw_period
        <where>
            <if test="tid != null and tid != ''">and tid =
                #{tid}
            </if>
            <if test="name != null and name != ''">and name =
                #{name}
            </if>
            <if test="coinTypeId != null and coinTypeId != ''">and coin_type_id =
                #{coinTypeId}
            </if>
            <if test="periodTerm != null and periodTerm != ''">and period_term =
                #{periodTerm}
            </if>
            <if test="tPercent != null and tPercent != ''">and t_percent =
                #{tPercent}
            </if>
            <if test="bPercent != null and bPercent != ''">and b_percent =
                #{bPercent}
            </if>
            <if test="acceleratePercent != null and acceleratePercent != ''">and accelerate_percent =
                #{acceleratePercent}
            </if>
            <if test="ex1 != null and ex1 != ''">and ex1 =
                #{ex1}
            </if>
            <if test="ex2 != null and ex2 != ''">and ex2 =
                #{ex2}
            </if>
            <if test="ex3 != null and ex3 != ''">and ex3 =
                #{ex3}
            </if>
            <if test="createDate != null and createDate != ''">and create_date =
                #{createDate}
            </if>
            <if test="updateDate != null and updateDate != ''">and update_date =
                #{updateDate}
            </if>
            <if test="delFlag != null and delFlag != ''">and del_flag =
                #{delFlag}
            </if>
            <if test="remark != null and remark != ''">and remark =
                #{remark}
            </if>
        </where>
    </select>

    <insert id="save" parameterType="com.get.domain.SwPeriodDO">
        insert into t_sw_period
        (
                                    `tid`, 
                                                `name`, 
                                                `coin_type_id`, 
                                                `period_term`, 
                                                `t_percent`, 
                                                `b_percent`, 
                                                `accelerate_percent`, 
                                                `ex1`, 
                                                `ex2`, 
                                                `ex3`, 
                                                `create_date`, 
                                                `update_date`, 
                                                `del_flag`, 
                                                `remark`
                            )
        values
        (
                                    #{tid}, 
                                                #{name}, 
                                                #{coinTypeId}, 
                                                #{periodTerm}, 
                                                #{tPercent}, 
                                                #{bPercent}, 
                                                #{acceleratePercent}, 
                                                #{ex1}, 
                                                #{ex2}, 
                                                #{ex3}, 
                                                #{createDate}, 
                                                #{updateDate}, 
                                                #{delFlag}, 
                                                #{remark}
                            )
    </insert>

    <update id="update" parameterType="com.get.domain.SwPeriodDO">
        update t_sw_period
        <set>
            <if test="name != null">`name` = #{name
                        },
            </if>
            <if test="coinTypeId != null">`coin_type_id` = #{coinTypeId
                        },
            </if>
            <if test="periodTerm != null">`period_term` = #{periodTerm
                        },
            </if>
            <if test="tPercent != null">`t_percent` = #{tPercent
                        },
            </if>
            <if test="bPercent != null">`b_percent` = #{bPercent
                        },
            </if>
            <if test="acceleratePercent != null">`accelerate_percent` = #{acceleratePercent
                        },
            </if>
            <if test="ex1 != null">`ex1` = #{ex1
                        },
            </if>
            <if test="ex2 != null">`ex2` = #{ex2
                        },
            </if>
            <if test="ex3 != null">`ex3` = #{ex3
                        },
            </if>
            <if test="createDate != null">`create_date` = #{createDate
                        },
            </if>
            <if test="updateDate != null">`update_date` = #{updateDate
                        },
            </if>
            <if test="delFlag != null">`del_flag` = #{delFlag
                        },
            </if>
            <if test="remark != null">`remark` = #{remark
                        }
            </if>
        </set>
        where tid = #{tid}
    </update>

    <delete id="remove">
        delete from t_sw_period where tid = #{value}
    </delete>

    <delete id="batchRemove">
        delete from t_sw_period where tid in
        <foreach item="tid" collection="array" open="(" separator="," close=")">
            #{tid}
        </foreach>
    </delete>

</mapper>