<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.get.dao.SwPrincipalUserDao">

    <sql id="baseColumn">
        `tid`,`user_id`,`principal_id`,`left_term`,`left_num`,`total_num`,`status`,`create_date`,`update_date`,`del_flag`,`remark`,`ex1`,`ex2`,`ex3`
    </sql>

    <sql id="baseColumnAlias">
        principalUser.`tid`,principalUser.`user_id`,principalUser.`principal_id`,principalUser.`left_term`,principalUser.`left_num`,principalUser.`total_num`,principalUser.`status`,principalUser.`create_date`,principalUser.`update_date`,principalUser.`del_flag`,principalUser.`remark`,principalUser.`ex1`,principalUser.`ex2`,principalUser.`ex3`
    </sql>

    <select id="get" resultType="com.get.domain.SwPrincipalUserDO">
        select `tid`,`user_id`,`principal_id`,`left_term`,`left_num`,`total_num`,`status`,`create_date`,`update_date`,`del_flag`,`remark`,`ex1`,`ex2`,`ex3`        from t_sw_principal_user where tid = #{value}
    </select>

    <select id="getByUserId" resultType="com.get.domain.SwPrincipalUserDO">
        select
        <include refid="baseColumnAlias"/>
        from t_sw_principal_user principalUser
        where principalUser.user_id = #{userId} and principalUser.status = #{status} and principalUser.del_flag = #{delFlag}
    </select>

    <select id="getWaitingResolvePrincipal" resultType="com.get.domain.SwPrincipalUserDO">
        select
        `tid`,`user_id`,`principal_id`,`left_term`,`left_num`,`total_num`,`status`,`create_date`,`update_date`,`del_flag`,`remark`,`ex1`,`ex2`,`ex3`
        from t_sw_principal_user
        where 1=1
        <if test="beginDate != null">
            and ex1 &gt;= #{beginDate}
        </if>
        <if test="endDate != null">
            and ex1 &lt;= #{endDate}
        </if>
        and status = 0
        and del_flag = 0
    </select>

    <select id="list" resultType="com.get.domain.SwPrincipalUserDO">
        select
        <include refid="baseColumnAlias"/>, principal.name as principalName
        from t_sw_principal_user principalUser
        left join t_sw_principal principal on principal.tid = principalUser.principal_id
        <where>
            <if test="tid != null and tid != ''">and principalUser.tid =
                #{tid}
            </if>
            <if test="userId != null and userId != ''">and principalUser.user_id =
                #{userId}
            </if>
            <if test="principalId != null and principalId != ''">and principalUser.principal_id =
                #{principalId}
            </if>
            <if test="leftTerm != null and leftTerm != ''">and principalUser.left_term =
                #{leftTerm}
            </if>
            <if test="leftNum != null and leftNum != ''">and principalUser.left_num =
                #{leftNum}
            </if>
            <if test="totalNum != null and totalNum != ''">and principalUser.total_num =
                #{totalNum}
            </if>
            <if test="status != null and status != ''">and principalUser.status =
                #{status}
            </if>
            <if test="createDate != null and createDate != ''">and principalUser.create_date =
                #{createDate}
            </if>
            <if test="updateDate != null and updateDate != ''">and principalUser.update_date =
                #{updateDate}
            </if>
            <if test="beginDate != null and beginDate != ''">and principalUser.create_date &gt;=
                #{beginDate}
            </if>
            <if test="endDate != null and endDate != ''">and principalUser.create_date &lt;=
                #{endDate}
            </if>
            <if test="delFlag != null and delFlag != ''">and principalUser.del_flag =
                #{delFlag}
            </if>
            <if test="remark != null and remark != ''">and principalUser.remark =
                #{remark}
            </if>
            <if test="ex1 != null and ex1 != ''">and principalUser.ex1 =
                #{ex1}
            </if>
            <if test="ex2 != null and ex2 != ''">and principalUser.ex2 =
                #{ex2}
            </if>
            <if test="ex3 != null and ex3 != ''">and principalUser.ex3 =
                #{ex3}
            </if>
        </where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
            <otherwise>
                order by principalUser.create_date desc
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>

    <select id="count" resultType="int">
        select count(*) from t_sw_principal_user
        <where>
            <if test="tid != null and tid != ''">and tid =
                #{tid}
            </if>
            <if test="userId != null and userId != ''">and user_id =
                #{userId}
            </if>
            <if test="principalId != null and principalId != ''">and principal_id =
                #{principalId}
            </if>
            <if test="leftTerm != null and leftTerm != ''">and left_term =
                #{leftTerm}
            </if>
            <if test="leftNum != null and leftNum != ''">and left_num =
                #{leftNum}
            </if>
            <if test="totalNum != null and totalNum != ''">and total_num =
                #{totalNum}
            </if>
            <if test="status != null and status != ''">and status =
                #{status}
            </if>
            <if test="createDate != null and createDate != ''">and create_date =
                #{createDate}
            </if>
            <if test="updateDate != null and updateDate != ''">and update_date =
                #{updateDate}
            </if>
            <if test="delFlag != null and delFlag != ''">and del_flag =
                #{delFlag}
            </if>
            <if test="remark != null and remark != ''">and remark =
                #{remark}
            </if>
            <if test="ex1 != null and ex1 != ''">and ex1 =
                #{ex1}
            </if>
            <if test="ex2 != null and ex2 != ''">and ex2 =
                #{ex2}
            </if>
            <if test="ex3 != null and ex3 != ''">and ex3 =
                #{ex3}
            </if>
        </where>
    </select>

    <insert id="save" parameterType="com.get.domain.SwPrincipalUserDO">
        insert into t_sw_principal_user
        (
                                    `tid`, 
                                                `user_id`, 
                                                `principal_id`, 
                                                `left_term`, 
                                                `left_num`, 
                                                `total_num`, 
                                                `status`, 
                                                `create_date`, 
                                                `update_date`, 
                                                `del_flag`, 
                                                `remark`, 
                                                `ex1`, 
                                                `ex2`, 
                                                `ex3`
                            )
        values
        (
                                    #{tid}, 
                                                #{userId}, 
                                                #{principalId}, 
                                                #{leftTerm}, 
                                                #{leftNum}, 
                                                #{totalNum}, 
                                                #{status}, 
                                                #{createDate}, 
                                                #{updateDate}, 
                                                #{delFlag}, 
                                                #{remark}, 
                                                #{ex1}, 
                                                #{ex2}, 
                                                #{ex3}
                            )
    </insert>

    <update id="update" parameterType="com.get.domain.SwPrincipalUserDO">
        update t_sw_principal_user
        <set>
            <if test="userId != null">`user_id` = #{userId
                        },
            </if>
            <if test="principalId != null">`principal_id` = #{principalId
                        },
            </if>
            <if test="leftTerm != null"> `left_term` = `left_term` + #{leftTerm},
            </if>
            <if test="leftNum != null"> `left_num` = `left_num` + #{leftNum},
            </if>
            <if test="totalNum != null">`total_num` = #{totalNum
                        },
            </if>
            <if test="status != null">`status` = #{status
                        },
            </if>
            <if test="createDate != null">`create_date` = #{createDate
                        },
            </if>
            <if test="updateDate != null">`update_date` = #{updateDate
                        },
            </if>
            <if test="delFlag != null">`del_flag` = #{delFlag
                        },
            </if>
            <if test="remark != null">`remark` = #{remark
                        },
            </if>
            <if test="ex1 != null">`ex1` = #{ex1
                        },
            </if>
            <if test="ex2 != null">`ex2` = #{ex2
                        },
            </if>
            <if test="ex3 != null">`ex3` = #{ex3
                        }
            </if>
        </set>
        where tid = #{tid}
    </update>

    <delete id="remove">
        delete from t_sw_principal_user where tid = #{value}
    </delete>

    <delete id="batchRemove">
        delete from t_sw_principal_user where tid in
        <foreach item="tid" collection="array" open="(" separator="," close=")">
            #{tid}
        </foreach>
    </delete>

</mapper>