<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.get.dao.SwWalletsDao">

    <sql id="baseColumn">
        `tid`,`user_id`,`coin_type_id`,`currency`,`is_active`,`frozen_amount`,`create_date`,`update_date`,`del_flag`,`ex1`,`ex2`,`ex3`,`ex4`
    </sql>

    <sql id="baseColumnAlias">
        wallet.`tid`,wallet.`user_id`,wallet.`coin_type_id`,wallet.`currency`,wallet.`is_active`,wallet.`frozen_amount`,wallet.`create_date`,wallet.`update_date`,wallet.`del_flag`,wallet.`ex1`,wallet.`ex2`,wallet.`ex3`,wallet.`ex4`
    </sql>

    <select id="get" resultType="com.get.domain.SwWalletsDO">
        select `tid`,`user_id`,`coin_type_id`,`currency`,`is_active`,`frozen_amount`,`create_date`,`update_date`,`del_flag`,`ex1`,`ex2`,`ex3`,`ex4`        from t_sw_wallets where tid = #{value}
    </select>

    <select id="getWallet" resultType="com.get.domain.SwWalletsDO" parameterType="map">
        select `tid`,`user_id`,`coin_type_id`,`currency`,`is_active`,`frozen_amount`,`create_date`,`update_date`,`del_flag`,`ex1`,`ex2`,`ex3`,`ex4`
        from t_sw_wallets where user_id = #{user_id} and coin_type_id = #{coin_id}
    </select>

    <select id="list" resultType="com.get.domain.SwWalletsDO">
        select
        <include refid="baseColumnAlias"/>, coin.coin_name as coinName
        from t_sw_wallets wallet
        left join t_sw_coin_type coin on coin.tid = wallet.coin_type_id
        <where>
            <if test="tid != null and tid != ''">and wallet.tid =
                #{tid}
            </if>
            <if test="userId != null and userId != ''">and wallet.user_id =
                #{userId}
            </if>
            <if test="coinTypeId != null and coinTypeId != ''">and wallet.coin_type_id =
                #{coinTypeId}
            </if>
            <if test="currency != null and currency != ''">and wallet.currency =
                #{currency}
            </if>
            <if test="isActive != null and isActive != ''">and wallet.is_active =
                #{isActive}
            </if>
            <if test="frozenAmount != null and frozenAmount != ''">and wallet.frozen_amount =
                #{frozenAmount}
            </if>
            <if test="createDate != null and createDate != ''">and wallet.create_date =
                #{createDate}
            </if>
            <if test="updateDate != null and updateDate != ''">and wallet.update_date =
                #{updateDate}
            </if>
            <if test="delFlag != null and delFlag != ''">and wallet.del_flag =
                #{delFlag}
            </if>
            <if test="ex1 != null and ex1 != ''">and wallet.ex1 =
                #{ex1}
            </if>
            <if test="ex2 != null and ex2 != ''">and wallet.ex2 =
                #{ex2}
            </if>
            <if test="ex3 != null and ex3 != ''">and wallet.ex3 =
                #{ex3}
            </if>
            <if test="ex4 != null and ex4 != ''">and wallet.ex4 =
                #{ex4}
            </if>
        </where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
            <otherwise>
                order by wallet.create_date desc
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>

    <select id="count" resultType="int">
        select count(*) from t_sw_wallets
        <where>
            <if test="tid != null and tid != ''">and tid =
                #{tid}
            </if>
            <if test="userId != null and userId != ''">and user_id =
                #{userId}
            </if>
            <if test="coinTypeId != null and coinTypeId != ''">and coin_type_id =
                #{coinTypeId}
            </if>
            <if test="currency != null and currency != ''">and currency =
                #{currency}
            </if>
            <if test="isActive != null and isActive != ''">and is_active =
                #{isActive}
            </if>
            <if test="frozenAmount != null and frozenAmount != ''">and frozen_amount =
                #{frozenAmount}
            </if>
            <if test="createDate != null and createDate != ''">and create_date =
                #{createDate}
            </if>
            <if test="updateDate != null and updateDate != ''">and update_date =
                #{updateDate}
            </if>
            <if test="delFlag != null and delFlag != ''">and del_flag =
                #{delFlag}
            </if>
            <if test="ex1 != null and ex1 != ''">and ex1 =
                #{ex1}
            </if>
            <if test="ex2 != null and ex2 != ''">and ex2 =
                #{ex2}
            </if>
            <if test="ex3 != null and ex3 != ''">and ex3 =
                #{ex3}
            </if>
            <if test="ex4 != null and ex4 != ''">and ex4 =
                #{ex4}
            </if>
        </where>
    </select>

    <insert id="save" parameterType="com.get.domain.SwWalletsDO">
        insert into t_sw_wallets
        (
                                    `tid`, 
                                                `user_id`, 
                                                `coin_type_id`, 
                                                `currency`, 
                                                `is_active`, 
                                                `frozen_amount`, 
                                                `create_date`, 
                                                `update_date`, 
                                                `del_flag`, 
                                                `ex1`, 
                                                `ex2`, 
                                                `ex3`, 
                                                `ex4`
                            )
        values
        (
                                    #{tid}, 
                                                #{userId}, 
                                                #{coinTypeId}, 
                                                #{currency}, 
                                                #{isActive}, 
                                                #{frozenAmount}, 
                                                #{createDate}, 
                                                #{updateDate}, 
                                                #{delFlag}, 
                                                #{ex1}, 
                                                #{ex2}, 
                                                #{ex3}, 
                                                #{ex4}
                            )
    </insert>

    <update id="update" parameterType="com.get.domain.SwWalletsDO">
        update t_sw_wallets
        <set>
            <if test="userId != null">`user_id` = #{userId
                        },
            </if>
            <if test="coinTypeId != null">`coin_type_id` = #{coinTypeId
                        },
            </if>
            <if test="currency != null">`currency` = `currency` + #{currency},
            </if>
            <if test="isActive != null">`is_active` = #{isActive
                        },
            </if>
            <if test="frozenAmount != null">`frozen_amount` = `frozen_amount` + #{frozenAmount
                        },
            </if>
            <if test="createDate != null">`create_date` = #{createDate
                        },
            </if>
            <if test="updateDate != null">`update_date` = #{updateDate
                        },
            </if>
            <if test="delFlag != null">`del_flag` = #{delFlag
                        },
            </if>
            <if test="ex1 != null">`ex1` = #{ex1
                        },
            </if>
            <if test="ex2 != null">`ex2` = #{ex2
                        },
            </if>
            <if test="ex3 != null">`ex3` = #{ex3
                        },
            </if>
            <if test="ex4 != null">`ex4` = #{ex4
                        }
            </if>
        </set>
        where tid = #{tid}
    </update>

    <delete id="remove">
        delete from t_sw_wallets where tid = #{value}
    </delete>

    <delete id="batchRemove">
        delete from t_sw_wallets where tid in
        <foreach item="tid" collection="array" open="(" separator="," close=")">
            #{tid}
        </foreach>
    </delete>

</mapper>