<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.get.dao.SwWithlogDao">

    <select id="get" resultType="com.get.domain.SwWithlogDO">
        select `tid`,`user_id`,`coin_type_id`,`amount`,`address`,`status`,`remark`,`txid`,`fee`,`create_date`,`update_date`,`del_flag`,`ex2`,`ex4`,`ex5`        from t_sw_withlog where tid = #{value}
    </select>

    <select id="getByTxid" resultType="com.get.domain.SwWithlogDO">
        select `tid`,`user_id`,`coin_type_id`,`amount`,`address`,`status`,`remark`,`txid`,`fee`,`create_date`,`update_date`,`del_flag`,`ex2`,`ex4`,`ex5`
        from t_sw_withlog where txid = #{txid}
    </select>

    <select id="list" resultType="com.get.domain.SwWithlogDO">
        select
        `tid`,`user_id`,`coin_type_id`,`amount`,`address`,`status`,`remark`,`txid`,`fee`,`create_date`,`update_date`,`del_flag`,`ex2`,`ex4`,`ex5`
        from t_sw_withlog
        <where>
            <if test="tid != null and tid != ''">and tid =
                #{tid}
            </if>
            <if test="userId != null and userId != ''">and user_id =
                #{userId}
            </if>
            <if test="coinTypeId != null and coinTypeId != ''">and coin_type_id =
                #{coinTypeId}
            </if>
            <if test="amount != null and amount != ''">and amount =
                #{amount}
            </if>
            <if test="address != null and address != ''">and address =
                #{address}
            </if>
            <if test="status != null and status != ''">and status =
                #{status}
            </if>
            <if test="remark != null and remark != ''">and remark =
                #{remark}
            </if>
            <if test="txid != null and txid != ''">and txid =
                #{txid}
            </if>
            <if test="fee != null and fee != ''">and fee =
                #{fee}
            </if>
            <if test="createDate != null and createDate != ''">and create_date =
                #{createDate}
            </if>
            <if test="updateDate != null and updateDate != ''">and update_date =
                #{updateDate}
            </if>
            <if test="delFlag != null and delFlag != ''">and del_flag =
                #{delFlag}
            </if>
            <if test="ex2 != null and ex2 != ''">and ex2 =
                #{ex2}
            </if>
            <if test="ex4 != null and ex4 != ''">and ex4 =
                #{ex4}
            </if>
            <if test="ex5 != null and ex5 != ''">and ex5 =
                #{ex5}
            </if>
        </where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
            <otherwise>
                order by tid desc
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>

    <select id="count" resultType="int">
        select count(*) from t_sw_withlog
        <where>
            <if test="tid != null and tid != ''">and tid =
                #{tid}
            </if>
            <if test="userId != null and userId != ''">and user_id =
                #{userId}
            </if>
            <if test="coinTypeId != null and coinTypeId != ''">and coin_type_id =
                #{coinTypeId}
            </if>
            <if test="amount != null and amount != ''">and amount =
                #{amount}
            </if>
            <if test="address != null and address != ''">and address =
                #{address}
            </if>
            <if test="status != null and status != ''">and status =
                #{status}
            </if>
            <if test="remark != null and remark != ''">and remark =
                #{remark}
            </if>
            <if test="txid != null and txid != ''">and txid =
                #{txid}
            </if>
            <if test="fee != null and fee != ''">and fee =
                #{fee}
            </if>
            <if test="createDate != null and createDate != ''">and create_date =
                #{createDate}
            </if>
            <if test="updateDate != null and updateDate != ''">and update_date =
                #{updateDate}
            </if>
            <if test="delFlag != null and delFlag != ''">and del_flag =
                #{delFlag}
            </if>
            <if test="ex2 != null and ex2 != ''">and ex2 =
                #{ex2}
            </if>
            <if test="ex4 != null and ex4 != ''">and ex4 =
                #{ex4}
            </if>
            <if test="ex5 != null and ex5 != ''">and ex5 =
                #{ex5}
            </if>
        </where>
    </select>

    <insert id="save" parameterType="com.get.domain.SwWithlogDO">
        insert into t_sw_withlog
        (
                                    `tid`, 
                                                `user_id`, 
                                                `coin_type_id`, 
                                                `amount`, 
                                                `address`, 
                                                `status`, 
                                                `remark`, 
                                                `txid`, 
                                                `fee`, 
                                                `create_date`, 
                                                `update_date`, 
                                                `del_flag`, 
                                                `ex2`, 
                                                `ex4`, 
                                                `ex5`
                            )
        values
        (
                                    #{tid}, 
                                                #{userId}, 
                                                #{coinTypeId}, 
                                                #{amount}, 
                                                #{address}, 
                                                #{status}, 
                                                #{remark}, 
                                                #{txid}, 
                                                #{fee}, 
                                                #{createDate}, 
                                                #{updateDate}, 
                                                #{delFlag}, 
                                                #{ex2}, 
                                                #{ex4}, 
                                                #{ex5}
                            )
    </insert>

    <update id="update" parameterType="com.get.domain.SwWithlogDO">
        update t_sw_withlog
        <set>
            <if test="userId != null">`user_id` = #{userId
                        },
            </if>
            <if test="coinTypeId != null">`coin_type_id` = #{coinTypeId
                        },
            </if>
            <if test="amount != null">`amount` = #{amount
                        },
            </if>
            <if test="address != null">`address` = #{address
                        },
            </if>
            <if test="status != null">`status` = #{status
                        },
            </if>
            <if test="remark != null">`remark` = #{remark
                        },
            </if>
            <if test="txid != null">`txid` = #{txid
                        },
            </if>
            <if test="fee != null">`fee` = #{fee
                        },
            </if>
            <if test="createDate != null">`create_date` = #{createDate
                        },
            </if>
            <if test="updateDate != null">`update_date` = #{updateDate
                        },
            </if>
            <if test="delFlag != null">`del_flag` = #{delFlag
                        },
            </if>
            <if test="ex2 != null">`ex2` = #{ex2
                        },
            </if>
            <if test="ex4 != null">`ex4` = #{ex4
                        },
            </if>
            <if test="ex5 != null">`ex5` = #{ex5
                        }
            </if>
        </set>
        where tid = #{tid}
    </update>

    <delete id="remove">
        delete from t_sw_withlog where tid = #{value}
    </delete>

    <delete id="batchRemove">
        delete from t_sw_withlog where tid in
        <foreach item="tid" collection="array" open="(" separator="," close=")">
            #{tid}
        </foreach>
    </delete>

</mapper>