<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
<div class="wrapper wrapper-content ">
    <div class="col-sm-12">
        <div class="ibox">
            <div class="ibox-body">
                <div class="fixed-table-toolbar">

                </div>
                <div class="fixed-table-toolbar">
                    <div class="pull-right search col-md-2">
                        <input type="text" class="laydate-icon layer-date form-control" id="createEndDate"
                               name="birth"
                               placeholder="创建结束时间"
                               style="background-color: #fff;" readonly="readonly"/>
                    </div>
                    <div class="pull-right search col-md-2">
                        <input type="text" class="laydate-icon layer-date form-control" id="createStartDate"
                               name="birth"
                               placeholder="创建开始时间"
                               style="background-color: #fff;" readonly="readonly"/>
                    </div>
                </div>

            </div>
            <div class="fixed-table-toolbar" style="clear: both">
                <div class="columns pull-left" style="margin-left: 15px">
                    <button shiro:hasPermission="get:swCurrent:add" type="button"
                            class="btn  btn-primary" onclick="add()">
                        <i class="fa fa-plus" aria-hidden="true"></i>添加
                    </button>
                    <button shiro:hasPermission="get:swCurrent:batchRemove" type="button"
                            class="btn  btn-danger"
                            onclick="batchRemove()">
                        <i class="fa fa-trash" aria-hidden="true"></i>删除
                    </button>
                </div>
                <div class="columns pull-right" style="margin-left: 15px">
                    <button s type="button" class="btn  btn-danger"
                            onclick="clearForm()">
                        <i class="fa fa-trash" aria-hidden="true"></i>清空
                    </button>
                </div>

                <div class="columns pull-right" role="group" style="margin-left: 15px ;margin-right: 15px">
                    <button class="btn btn-success" onclick="reLoad()">
                        <i class="fa fa-search" aria-hidden="true"></i>查询
                    </button>
                </div>
                <table id="exampleTable" data-mobile-responsive="true">
                </table>
            </div>
        </div>
    </div>
</div>
<!--shiro控制bootstraptable行内按钮看见性 来自bootdo的创新方案 -->
<div>
    <script type="text/javascript">
        var s_edit_h = 'hidden';
        var s_remove_h = 'hidden';
        var s_resetPwd_h = 'hidden';
    </script>
</div>
<div shiro:hasPermission="get:swCurrent:edit">
    <script type="text/javascript">
        s_edit_h = '';
    </script>
</div>
<div shiro:hasPermission="get:swCurrent:remove">
    <script type="text/javascript">
        var s_remove_h = '';
    </script>
</div>
<div shiro:hasPermission="get:swCurrent:resetPwd">
    <script type="text/javascript">
        var s_resetPwd_h = '';
    </script>
</div>
</div>
<div th:include="include :: footer"></div>
<script type="text/javascript" src="/js/appjs/get/swCurrent/swCurrent.js"></script>
</body>
</html>