<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.system.base.dao.SecurityManagerDao">

    <select id="get" resultType="com.system.base.domain.SecurityManagerDO">
        select `tid`,`security_key`,`create_date`,`del_flag`        from t_security_manager where tid = #{value}
    </select>

    <select id="list" resultType="com.system.base.domain.SecurityManagerDO">
        select `tid`,`security_key`,`create_date`,`del_flag`        from t_security_manager
        <where>
                            <if test="tid != null and tid != ''">and tid =
                    #{tid}
                </if>
                            <if test="securityKey != null and securityKey != ''">and security_key =
                    #{securityKey}
                </if>
                            <if test="createDate != null and createDate != ''">and create_date =
                    #{createDate}
                </if>
                            <if test="delFlag != null and delFlag != ''">and del_flag =
                    #{delFlag}
                </if>
                    </where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
            <otherwise>
                order by tid desc
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>

    <select id="count" resultType="int">
        select count(*) from t_security_manager
        <where>
                            <if test="tid != null and tid != ''">and tid =
                    #{tid}
                </if>
                            <if test="securityKey != null and securityKey != ''">and security_key =
                    #{securityKey}
                </if>
                            <if test="createDate != null and createDate != ''">and create_date =
                    #{createDate}
                </if>
                            <if test="delFlag != null and delFlag != ''">and del_flag =
                    #{delFlag}
                </if>
                    </where>
    </select>

    <insert id="save" parameterType="com.system.base.domain.SecurityManagerDO">
        insert into t_security_manager
        (
                                    `tid`, 
                                                `security_key`, 
                                                `create_date`, 
                                                `del_flag`
                            )
        values
        (
                                    #{tid}, 
                                                #{securityKey}, 
                                                #{createDate}, 
                                                #{delFlag}
                            )
    </insert>

    <update id="update" parameterType="com.system.base.domain.SecurityManagerDO">
        update t_security_manager
        <set>
                                                                            <if test="securityKey != null">`security_key` = #{securityKey
                        }, </if>
                                                                <if test="createDate != null">`create_date` = #{createDate
                        }, </if>
                                                                <if test="delFlag != null">`del_flag` = #{delFlag
                        }</if>
                                    </set>
        where tid = #{tid}
    </update>

    <delete id="remove">
        delete from t_security_manager where tid = #{value}
    </delete>

    <delete id="batchRemove">
        delete from t_security_manager where tid in
        <foreach item="tid" collection="array" open="(" separator="," close=")">
            #{tid}
        </foreach>
    </delete>

</mapper>