<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
<div class="wrapper wrapper-content ">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <form class="form-horizontal m-t" id="signupForm">
                        <input id="tid" name="tid" th:value="${swUserBasic.tid}"
                               type="hidden">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">用户名：</label>
                            <div class="col-sm-8">
                                <input id="username" name="username"
                                       th:value="${swUserBasic.username}" class="form-control"
                                       type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">推荐人编号：</label>
                            <div class="col-sm-8">
                                <input id="recomId" name="recomId" readonly
                                       th:value="${swUserBasic.recomId}" class="form-control"
                                       type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">手机号码：</label>
                            <div class="col-sm-8">
                                <input id="mobile" name="mobile"
                                       th:value="${swUserBasic.mobile}" class="form-control"
                                       type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">邮箱：</label>
                            <div class="col-sm-8">
                                <input id="email" name="email" readonly
                                       th:value="${swUserBasic.email}" class="form-control"
                                       type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">登录密码：</label>
                            <div class="col-sm-8">
                                <input id="loginPass" name="loginPass"
                                       th:value="${swUserBasic.loginPass}" class="form-control"
                                       type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">高级密码：</label>
                            <div class="col-sm-8">
                                <input id="highPass" name="highPass"
                                       th:value="${swUserBasic.highPass}" class="form-control"
                                       type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">手机区域编号：</label>
                            <div class="col-sm-8">
                                <input id="areaCode" name="areaCode"
                                       th:value="${swUserBasic.areaCode}" class="form-control"
                                       type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">用户类型：</label>
                            <div class="col-sm-8">
                                <select id="userType" name="userType" th:value="${swUserBasic.userType}" th:disabled="${swUserBasic.userType != 0 ? true : false}" class="form-control">
                                    <option value="0" th:selected="${swUserBasic.userType == 0 ? true : false}">普通用户</option>
                                    <option value="1" th:selected="${swUserBasic.userType == 1 ? true : false}">布道者</option>
                                    <option value="2" th:selected="${swUserBasic.userType == 2 ? true : false}">合伙人</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-8 col-sm-offset-3">
                                <button type="submit" class="btn btn-primary">提交</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:include="include::footer"></div>
<script type="text/javascript" src="/js/appjs/get/swUserBasic/edit.js">
</script>
</body>
</html>
