<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
<div class="wrapper wrapper-content ">
    <div class="col-sm-12">
        <div class="ibox">
            <div class="ibox-body">
                <div class="fixed-table-toolbar">
                    <div class="pull-left search col-md-2" style="left: 1%">
                        <input id="mobile" type="text" class="form-control"
                               placeholder="手机号码">
                    </div>
                    <div class="pull-left search col-md-2" style="left: 1%">
                        <input id="msgContent" type="text" class="form-control"
                               placeholder="内容">
                    </div>
                    <div class="pull-left search col-md-2"  style="left: 1%">
                        <select id="status" name="city" lay-verify="" class="form-control"  placeholder="短信状态">
                            <option value=""  selected>短信状态</option>
                            <option value="0">已发送</option>
                            <option value="1">已使用</option>
                        </select>
                    </div>

                    <div class="pull-left search col-md-2" style="left: 1%">
                        <input type="text" class="laydate-icon layer-date form-control" id="createStartDate"
                               placeholder="创建开始时间"
                               style="background-color: #fff;" readonly="readonly"/>
                    </div>
                    <div class="pull-left search col-md-2" style="left: 1%">
                        <input type="text" class="laydate-icon layer-date form-control" id="createEndDate"
                               placeholder="创建结束时间"
                               style="background-color: #fff;" readonly="readonly"/>
                    </div>

                    <div class="columns pull-right" style="margin-left: 15px">
                        <button s type="button" class="btn  btn-danger"
                                onclick="clearForm()">
                            <i class="fa fa-trash" aria-hidden="true"></i>清空
                        </button>
                    </div>
                    <div class="columns pull-right" role="group" style="margin-left: 15px">
                        <button class="btn btn-success" onclick="reLoad()">
                            <i class="fa fa-search" aria-hidden="true"></i>查询
                        </button>
                    </div>
                </div>
                <table id="exampleTable" data-mobile-responsive="true">
                </table>
            </div>
        </div>
    </div>
</div>
<!--shiro控制bootstraptable行内按钮看见性 来自bootdo的创新方案 -->
<div>
    <script type="text/javascript">
        var s_edit_h = 'hidden';
        var s_remove_h = 'hidden';
        var s_resetPwd_h = 'hidden';
    </script>
</div>
<div shiro:hasPermission="record:msgRecord:edit">
    <script type="text/javascript">
        s_edit_h = '';
    </script>
</div>
<div shiro:hasPermission="record:msgRecord:remove">
    <script type="text/javascript">
        var s_remove_h = '';
    </script>
</div>
<div shiro:hasPermission="record:msgRecord:resetPwd">
    <script type="text/javascript">
        var s_resetPwd_h = '';
    </script>
</div>
</div>
<div th:include="include :: footer"></div>
<script type="text/javascript" src="/js/appjs/record/msgRecord/msgRecord.js"></script>
</body>
</html>