<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
<div class="wrapper wrapper-content ">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <form class="form-horizontal m-t" id="signupForm">
                        <input id="tid" name="tid" th:value="${swChargelog.tid}"
                               type="hidden">
                                                                                                                                        <div class="form-group">
                                    <label class="col-sm-3 control-label">用户id：</label>
                                    <div class="col-sm-8">
                                        <input id="userId" name="userId"
                                               th:value="${swChargelog.userId}" class="form-control"
                                               type="text">
                                    </div>
                                </div>
                                                                                                                <div class="form-group">
                                    <label class="col-sm-3 control-label">币种id：</label>
                                    <div class="col-sm-8">
                                        <input id="coinId" name="coinId"
                                               th:value="${swChargelog.coinId}" class="form-control"
                                               type="text">
                                    </div>
                                </div>
                                                                                                                <div class="form-group">
                                    <label class="col-sm-3 control-label">数量：</label>
                                    <div class="col-sm-8">
                                        <input id="amount" name="amount"
                                               th:value="${swChargelog.amount}" class="form-control"
                                               type="text">
                                    </div>
                                </div>
                                                                                                                <div class="form-group">
                                    <label class="col-sm-3 control-label">充币地址：</label>
                                    <div class="col-sm-8">
                                        <input id="address" name="address"
                                               th:value="${swChargelog.address}" class="form-control"
                                               type="text">
                                    </div>
                                </div>
                                                                                                                <div class="form-group">
                                    <label class="col-sm-3 control-label">转账id：</label>
                                    <div class="col-sm-8">
                                        <input id="txid" name="txid"
                                               th:value="${swChargelog.txid}" class="form-control"
                                               type="text">
                                    </div>
                                </div>
                                                                                                                <div class="form-group">
                                    <label class="col-sm-3 control-label">状态 0-确认中 1-成功 2-失败：</label>
                                    <div class="col-sm-8">
                                        <input id="status" name="status"
                                               th:value="${swChargelog.status}" class="form-control"
                                               type="text">
                                    </div>
                                </div>
                                                                                                                <div class="form-group">
                                    <label class="col-sm-3 control-label">创建时间：</label>
                                    <div class="col-sm-8">
                                        <input id="createDate" name="createDate"
                                               th:value="${swChargelog.createDate}" class="form-control"
                                               type="text">
                                    </div>
                                </div>
                                                                                                                <div class="form-group">
                                    <label class="col-sm-3 control-label">更新时间：</label>
                                    <div class="col-sm-8">
                                        <input id="updateDate" name="updateDate"
                                               th:value="${swChargelog.updateDate}" class="form-control"
                                               type="text">
                                    </div>
                                </div>
                                                                                                                <div class="form-group">
                                    <label class="col-sm-3 control-label">删除标记：</label>
                                    <div class="col-sm-8">
                                        <input id="delFlag" name="delFlag"
                                               th:value="${swChargelog.delFlag}" class="form-control"
                                               type="text">
                                    </div>
                                </div>
                                                                                                                <div class="form-group">
                                    <label class="col-sm-3 control-label">ex2：</label>
                                    <div class="col-sm-8">
                                        <input id="ex2" name="ex2"
                                               th:value="${swChargelog.ex2}" class="form-control"
                                               type="text">
                                    </div>
                                </div>
                                                                                                                <div class="form-group">
                                    <label class="col-sm-3 control-label">ex4：</label>
                                    <div class="col-sm-8">
                                        <input id="ex4" name="ex4"
                                               th:value="${swChargelog.ex4}" class="form-control"
                                               type="text">
                                    </div>
                                </div>
                                                                                                                <div class="form-group">
                                    <label class="col-sm-3 control-label">ex5：</label>
                                    <div class="col-sm-8">
                                        <input id="ex5" name="ex5"
                                               th:value="${swChargelog.ex5}" class="form-control"
                                               type="text">
                                    </div>
                                </div>
                                                                            <div class="form-group">
                            <div class="col-sm-8 col-sm-offset-3">
                                <button type="submit" class="btn btn-primary">提交</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:include="include::footer"></div>
<script type="text/javascript" src="/js/appjs/get/swChargelog/edit.js">
</script>
</body>
</html>
